<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcy.router.mapper.OffP2pMesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dcy.router.model.OffP2pMes">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="receive_user_id" property="receiveUserId" />
        <result column="message" property="message" />
        <result column="send_time" property="sendTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, receive_user_id, message, send_time
    </sql>

</mapper>
